/* Reset */
body {

    margin: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg,#fbc2eb,#a6c1ee);
}


/* Main App */
.app {

    max-width: 500px;
    margin: auto;

    padding: 20px;

    text-align: center;
}


/* Head */
h1 {

    color: #4a4e69;
}


/* Boxes */
.room-box,
.timer-box,
.members-box {

    background: rgba(255,255,255,0.3);

    backdrop-filter: blur(10px);

    border-radius: 15px;

    padding: 20px;

    margin: 20px 0;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


/* Inputs */
input {

    width: 80%;

    padding: 10px;

    border-radius: 10px;

    border: none;

    text-align: center;

    margin-bottom: 10px;
}


/* Buttons */
button {

    background: linear-gradient(135deg,#a18cd1,#fbc2eb);

    border: none;

    padding: 8px 15px;

    border-radius: 10px;

    color: white;

    font-weight: bold;

    cursor: pointer;

    margin: 5px;

    transition: 0.3s;
}


button:hover {

    transform: scale(1.05);
}


/* Timer */
#timer {

    font-size: 40px;

    margin: 10px 0;
}


/* Member Card */
.member {

    display: flex;

    justify-content: space-between;

    background: rgba(255,255,255,0.5);

    padding: 8px 12px;

    border-radius: 10px;

    margin: 6px 0;

    font-weight: bold;
}


/* ===============================
   GROUP NAVBAR
=============================== */

.nav {

    margin: 20px auto;
    width: fit-content;

    padding: 12px 30px;

    background: rgba(255,255,255,0.25);

    backdrop-filter: blur(12px);

    border-radius: 40px;

    box-shadow: 0 8px 25px rgba(31,38,135,0.12);
}


.nav a {

    position: relative;

    text-decoration: none;

    color: #3c3c72;

    font-weight: 500;

    margin: 0 15px;

    padding: 5px;

    transition: 0.3s;
}


/* Underline animation */
.nav a::after {

    content: "";

    position: absolute;

    left: 50%;

    bottom: 0;

    width: 0;

    height: 2px;

    background: #764ba2;

    transition: 0.3s;

    transform: translateX(-50%);
}


.nav a:hover::after {

    width: 100%;
}


.nav a:hover {

    color: #764ba2;
}


/* Active Page */
.nav a.active {

    color: #764ba2;

    font-weight: 600;
}

.nav a.active::after {

    width: 100%;
}
